body {
    font-family: 'Varela Round', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
    color: black;
}
h3{
    font-size: 25px;
    font-weight: 10px;
    color: black;
}
h4{
    font-weight: 50px;
}
.magenta-color{
    color: rgb(247, 2, 153);
}
section{
    display: flex;
    margin-bottom: 100px;
}
.half-width{
    width: 50%
}
.half-width{
    padding-left: 5%
}
.schedule-button{
    text-decoration: none;
    background-image: linear-gradient(rgb(247, 35, 151), blue);
    padding: 15px;
    border-radius: 5px;
    color: white;
    font-weight: 900;
}
.banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.fontjustify{
    text-align: justify;
}
.Why-section{
display: flex;
width: 100%;
}
.Why-section{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}